input, textarea {
    border: none;
    outline: none;
}

form {
    display: grid;
    justify-content: center;
    margin-top: 60px;
}

input[id^="ttl"]::-webkit-input-placeholder {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: xx-large;
}

input[id^="ttl"]::-webkit-input-placeholder {
    
}

input[id^="ttl"]::-webkit-input-placeholder {
    
}