input, textarea {
    border: none;
    outline: none;
}

form, #storyContainer {
    display: grid;
    justify-content: center;
    margin-top: 60px;
    text-align: center;
}

input[id^="titleBox"]::-webkit-input-placeholder {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    font-size: xx-large;
}

input[id^="titleBox"]::-webkit-input-placeholder {
    
}

input[id^="titleBox"]::-webkit-input-placeholder {
    
}

#returnText {
    position: absolute;
    left: 0;
    top: 0;
    display: inline;
}

body {
    margin: 0;
}